.button1
{
    width:170px;
    height:78px;
    margin-left: 40px;
}
.button2
{
    margin-left:200px;
    cursor: pointer;
}
.button3
{
    margin-left: 260px;
    cursor: pointer;
}
.button4
{
    width:1270px;
    height:450px;
}
.submit
{
    background-color: #0066A2;
    border: none;
    color: white;
    text-align: center;
    display:inline-block;
    border-style: outset;
    border-color: #1F28CF;
    margin: 4px 2px;
    cursor: pointer;
    height: 30px;
    width: 180px;
    margin-left: 260px;
}