<html>
    <body>
        <div class ="loginHeading">
            <img (click)="add()"  src ="assets/images/return.JPG" class = "button1" style ="width:50px;height:47px;">
                <img src ="assets/images/stock.JPG" class = "button1" style ="width:120px;height:58px;margin-left: 490px;"><br>
                <img src ="assets/images/addcp.JPG" class = "button1" style ="width:480px;height:98px;margin-left: 90px;">

            
        </div>
       
        <div id = "outer">
            <form [formGroup]="Register" (ngSubmit)="collection()">
        <div id ="id01" class="modal">
            <div class="container">
                <label ><b>CompanyCode</b></label> <br>
                <input type = "text" class="form-control" placeholder="Enter Company Code" formControlName="companyCode" name ="companyCode" > <br>
            </div> 
            <div  class="container"> 
                <label ><b>CompanyName</b></label> <br>
                <input type = "text"  class="form-control" placeholder="Company Name" formControlName="companyName" name ="companyName"> <br>
            </div> 
            <div  class="container">
                <label ><b>CEO</b></label> <br>
                <input type = "text" class="form-contro"l placeholder="Enter Company CEO" formControlName="ceo" name ="companyCode" > <br>
            </div> 
            <div  class="container"> 
                <label ><b>Website</b></label> <br>
                <input type = "text"  class="form-control" placeholder="Company Website" formControlName="website" name ="website" > <br>
            </div> 
           
            <div  class="container"> 
                <label><b>StockExchange</b></label> <br>
                <input type = "text" class="form-control" placeholder="Stock Exchange" formControlName="stockExchange" name ="stockExchange"> <br>
            </div> 
            <div  class="container" >
                <label ><b>Turnover</b></label> <br>
                <input type = "text" class="form-control" placeholder="Enter Company Turnover" formControlName="turnOver"name ="turnOver"> <br>
            </div> <br>
            <div class= "submit">
                <button type="submit" (click)="sub()"   class="button">Submit</button>
               
            </div>
        </div>
        </form>
    </div>
            
            <br>
           
    </body>
</html>