<html>
    <body>
        <div class ="loginHeading">
            <img src ="assets/images/return.JPG" class = "button1" style ="width:50px;height:47px;">
                <img src ="assets/images/stock.JPG" class = "button1" style ="width:120px;height:58px;margin-left: 490px;"><br>
                <img src ="assets/images/addcp.JPG" class = "button1" style ="width:480px;height:98px;margin-left: 90px;">

            
        </div>
               
        <div id = "outer">
        
        <div id ="id01" class="modal">
            <div class="container">
                <label for="uname"><b>Company Code</b></label> <br>
                <input type = "text" placeholder="Enter Company Code" name ="uname" required> <br>
            </div> 
            <div> 
                <label for="psw"><b>Company Name</b></label> <br>
                <input type = "text" placeholder="Company Name" name ="psw" required> <br>
            </div> 
            <div >
                <label for="psw"><b>Company CEO</b></label> <br>
                <input type = "text" placeholder="Enter Company CEO" name ="psw" required> <br>
            </div> 
            <div> 
                <label for="psw"><b>Company Website</b></label> <br>
                <input type = "text" placeholder="Company Website" name ="psw" required> <br>
            </div> 
            <div >
                <label for="psw"><b>Company Turnover</b></label> <br>
                <input type = "text" placeholder="Enter Company Turnover" name ="psw" required> <br>
            </div> 
            <div> 
                <label for="psw"><b>Stock Exchange</b></label> <br>
                <input type = "text" placeholder="Stock Exchange" name ="psw" required> <br>
            </div> <br>
            <div class= "submit">
                <button type="submit" (click)="sub()"  class="button">Submit</button>
               
            </div>
            </div>
            </div>
            <br>
            <img src="assets/images/bottomc.JPG" style="height: 40px;">
    </body>
</html>