<html>
    <body>
        <div class="row">
            <div class="column">
                <img src="assets/images/line.JPG" style="width: 34px;height: 24px;margin-left: 10px;">
            </div>  
            <div class="right">
                <img src="assets/images/location.JPG" style="width: 170px;height: 40px;margin-right: 610px;">
                </div>
                <div class="left">
                    <img src="assets/images/profile.JPG" style="width: 65px;height: 50px;margin-right: 50px;">
                    </div>
                    
        </div>
        <div class="spl">
            <h3>Hello <b> User!</b></h3>
            <img src="assets/images/company.JPG" style="width: 135px;height: 70px;margin-left: 50px;">
            <img (click)="stock()" src="assets/images/stocks.JPG" style="width: 135px;height: 70px;margin-left: 50px;">
        </div>
        <img src="assets/images/searchc.JPG" style="width: 1105px;height: 70px;margin-left: 50px;">
        <img (click)="sub()" src="assets/images/addc.JPG" style="width: 100px;height: 80px;margin-left:80px;">
        <img (click)="view()" src="assets/images/viewc.JPG" style="width: 100px;height: 80px;margin-left: 190px;">
        <img (click)="del()" src="assets/images/delc.JPG" style="width: 100px;height: 80px;margin-left: 190px;">
        <img src="assets/images/morec.JPG" style="width: 100px;height: 80px;margin-left: 190px;">
            <img src="assets/images/bottom.JPG" style="width: 1373px;height: 310px;">

    </body>
</html>