<html>
  <body>

    <div class="login-form">
      <h1 style="color:white" >Payment details</h1>
      <mat-card class="example-card">
        <mat-card-header>
          
          <mat-card-title>Credit Card/Debit Card</mat-card-title>
           </mat-card-header>
        <mat-card-content>
          <mat-tab-group>
            <br>
           <mat-tab label="Credit/Debit">
            <br>

              <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="name" value="" [(ngModel)]="name">
               </mat-form-field>
    <br>
              <mat-form-field class="example-full-width">
                <mat-label>Card Type</mat-label>
                <input type="text" matInput placeholder="card" [(ngModel)]="card">
                </mat-form-field>
              <br>
              <mat-form-field class="example-full-width">
                <mat-label>CCV</mat-label>
                <input type="text" matInput placeholder="ccv" [(ngModel)]="ccv">
                </mat-form-field>
              <br>
            
               
                <div class="Booking-form">
                  <button (click)="Coupon(box.value)">Check the Coupon</button>
                  <br/>
                  <input type="string" #box/>
                  
                  <output>{{emplData|json}}</output>
                  
               </div>
              <br>
              <button mat-button color="primary" (click)="user()">Submit</button>
            </mat-tab>

           
              <br>
              <button mat-button color="primary" (click)="PNR()">submit</button>
              <button mat-button color="primary" (click)="user()">Next</button>
           
          </mat-tab-group>
    
        </mat-card-content>
    
      </mat-card>
    </div>

</body>
</html>