<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color:white;">Admin </h1>
    <div class="d-flex">
      <button  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add</button>
    </div>
  </div>
  </nav>
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">FLIGHT_NUMBER</th>
        <th scope="col">AIRLINE</th>
        <th scope="col">DEPARTURE_CITY</th>
        <th scope="col">ARRIVAL_CITY</th>
        <th scope="col">DAY_DEPARTURE</th>
        <th scope="col">ESTIMATED_DEPARTURE</th>
        <th scope="col">BUSINESS_CLASS</th>
        <th scope="col">NONBUSINESS_CLASS</th>
        <th scope="col">TICKET_COST</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of emplData">
        <td>{{row.id}}</td>
        <td>{{row.flightNumber}}</td>
        <td>{{row.airline}}</td>
  <td>{{row.departureCity}}</td>
  <td>{{row.arrivalCity}}</td>
  <td>{{row.dayDeparture}}</td>
  <td>{{row.estimatedDeparture}}</td>
  <td>{{row.business_Class}}</td>
  <td>{{row.nonBusiness_Class}}</td>
  <td>{{row.ticket_cost}}</td>
  <td>
    <button (click)="onEdit(row)" class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">EDIT</button>
    <button (click)="deleteFlight(row)" class="btn btn-danger mx-6">DELETE</button>
  </td>
      </tr>
    </tbody>
  </table>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]= "formvalue">
            <div class="mb-3">
              <label for="exampleInputid" class="form-label">ID</label>
              <input type="text" formControlName="id" class="form-control" id="exampleInputid">
               </div>
            <div class="mb-3">
              <label for="exampleInputFlight_Number" class="form-label">FLIGHT_NUMBER</label>
              <input type="text" formControlName="flightNumber" class="form-control" id="exampleInputFlight_Number">
               </div>
            <div class="mb-3">
              <label for="exampleInputAirline" class="form-label">AIRLINE</label>
              <input type="text" formControlName="airline" class="form-control" id="exampleInputAirline">
            </div>
            <div class="mb-3">
              <label for="exampleInputdepartureCity" class="form-label">DEPARTURE_CITY</label>
              <input type="text" formControlName="departureCity" class="form-control" id="exampleInputdepartureCity">
            </div>
          
            <div class="mb-3">
              <label for="exampleInputarrivalCity" class="form-label">ARRIVAL_CITY</label>
              <input type="text" formControlName="arrivalCity" class="form-control" id="exampleInputarrivalCity">
            </div>
            <div class="mb-3">
              <label for="exampleInputdateOfDeparture" class="form-label">DAY_DEPARTURE</label>
              <input type="text" formControlName="dayDeparture" class="form-control" id="exampleInputdateOfDeparture">
            </div>
            <div class="mb-3">
              <label for="exampleInputestimatedDepartureTime" class="form-label">ESTIMATED_DEPARTURE</label>
              <input type="text" formControlName="estimatedDeparture" class="form-control" id="exampleInputestimatedDepartureTime">
            </div>
  
            <div class="mb-3">
              <label for="exampleInputBusiness_Class_Seats" class="form-label">BUSINESS_CLASS</label>
              <input type="text" formControlName="business_Class" class="form-control" id="exampleInputBusiness_Class_Seats">
            </div>
            <div class="mb-3">
              <label for="exampleInputNonBusiness_Class_Seats" class="form-label">NONBUSINESS_CLASS</label>
              <input type="text" formControlName="nonBusiness_Class" class="form-control" id="exampleInputNonBusiness_Class_Seats">
            </div>
            <div class="mb-3">
              <label for="exampleInputTicket_cost" class="form-label">TICKET_COST</label>
              <input type="text" formControlName="ticket_cost" class="form-control" id="exampleInputTicket_cost">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button"  id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="postFlightDetails()" class="btn btn-primary">Add</button>
          <button type="button" (click)="updateFlightdetails()" class="btn btn-primary">update</button>
      
        </div>
      </div>
    </div>
  </div>
  
  <button type ="button" (click)="logout()">Manage Coupon</button>
