<html>
    <body>
        <div class="Booking-form">
        <h1 style="color:black">Flight Booking</h1>
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show">
            <strong>Success</strong> Your Data has been saved 
            <button (click)="closeAlert" type="button" class="close" >
                <span aria-hidden="true">&times;</span>
            </button>
       
        </div>
        <form [formGroup]="Register" (ngSubmit)="collection()">
            <div class ="form-group">
                <label>ID</label>
                <input type="text" class="form-control" placeholder="Enter name" formControlName="id">
            </div>
            <div class ="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
            </div>
            <div class ="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Enter Email" formControlName="email">
            </div>
            <div class ="form-group">
                <label>Number of Seats</label>
                <input type="text" class="form-control" placeholder="Enter seats" formControlName="no_Seats">
            </div>
            <div class ="form-group">
                <label>Select Seats Number</label>
                <input type="text" class="form-control" placeholder="Enter Email" formControlName="select_Seats">
            </div>
            <div class ="form-group">
                <label>From</label>
                <input type="text" class="form-control" placeholder="Enter seats" formControlName="departureCity">
            </div>
            <div class ="form-group">
                <label>To</label>
                <input type="text" class="form-control" placeholder="Enter Email" formControlName="arrivalCity">
            </div>

            <button type="submit" (click)="done()" class="btn btn-primary">Submit</button><br>
            <button type="submit" (click)="add()" class="btn btn-primary">Add Passenger details</button><br>
            </form>
    </div>
    </body>
</html>
