<html>
    <body>
        <h1 class="alert alert-info">Booking Confimation</h1>
        <div id ="content" #content>
        <table id='table' class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">NO_SEATS</th>
                <th scope="col">SELECT_SEATS</th>
                <th scope="col">DEPATURE_CITY</th>
                <th scope="col">ARRIVAL_CITY</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of emplData">
                  <td>{{row.id}}</td>
                  <td>{{row.name}}</td>
                  <td>{{row.email}}</td>
            <td>{{row.no_Seats}}</td>
            <td>{{row.select_Seats}}</td>
            <td>{{row.departureCity}}</td>
            <td>{{row.arrivalCity}}</td>
              <td> <button type ="button" class="btn btn-primary" (click)="downloadPDF()">download</button></td>
              <td>  <button type ="button" class="btn btn-danger mx-3" (click)="next()">Cancellation</button>(Before 24 hrs)</td>
              </tr>
            </tbody>
          </table>
        </div>
       
    </body>

    <button type ="button" class="btn btn-primary" (click)="logout()">Logout</button>
</html>