body
{   font-style: initial;
    background-image: url("display.jpg");
    background-size: cover;
    background-position:center;
    padding:20px;

}
.Booking-form
{ 
    height: 500px;
    width:800px;
    margin:auto;
    padding:30px;
    
    border:1px;
   max-width: 400px;
}