<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h1 style="color:white;">Angular CRUD</h1>
      <div class="d-flex">
          <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal"class="btn btn-success">Add  Flight</button>
      </div>
    </div>
</nav>
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Flight_Number</th>
            <th scope="col">Airline</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Depature</th>
            <th scope="col">Arrival</th>
            <th scope="col">Scheduled_Days</th>
            <th scope="col">Instrument</th>
            <th scope="col">Business_Class_Seats</th>
            <th scope="col">NonBusiness_Class_Seats</th>
            <th scope="col">Ticket_cost</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger mx-3">Delete</button>
            </td>
            
        </tr>
    </tbody>
</table>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Flight details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Flight_Number</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Airline</label>
                  <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">From</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">To</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Depature</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Arrival</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Scheduled_Days</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Instrument</label>
                      <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Business_Class_Seats</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">NonBusiness_Class_Seats</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Ticket_cost</label>
                          <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>