<html>
    <body>
        <div class="user-form">
        <h1 style="color:white;"> Register New User</h1>
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show">
            <strong>Success</strong> Your Data has been saved 
            <button (click)="closeAlert" type="button" class="close" >
                <span aria-hidden="true">&times;</span>
            </button>
        </div><div *ngIf="alert" class="alert alert-success alert-dismissible fade show">
            <strong>Success</strong> Your Data has been saved 
            <button (click)="closeAlert" type="button" class="clode" >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="Register" (ngSubmit)="collection()">
            <div class ="form-group">
                <label>ID</label>
                <input type="text" class="form-control" placeholder="Enter ID" formControlName="id">
            </div>
            <div class ="form-group">
                <label>name</label>
                <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
            </div>
            <div class ="form-group">
                <label>email</label>
                <input type="text" class="form-control" placeholder="Enter email" formControlName="email">
            </div>
           
            <div class ="form-group">
                <label>password</label>
                <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
            </div>
            <button type="submit" (click)="done()" class="btn btn-primary">Submit</button><br>
            <button type="submit"  (click)="Previous()" class="btn btn-primary  mx-9">Back</button>
        </form>
    </div>
    </body>
</html>
